<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>팝업이다!</title>
</head>

<body>

  알림 팝업창입니다.
  <br><br><br><br><br><br><br>

  <form>
    <input type="checkbox" onclick="setPopUpStart(this)" />오늘 더 이상 팝업창 띄우지 않기
  </form>

  <script>

    // 팝업창 닫기. 쿠키 등록
    function setPopUpStart(obj) {

      if (obj.checked == true) {
        let expireDate = new Date();

        let days = 1; // 쿠키 유효 시간을 하루로 설정

        expireDate.setDate(expireDate.getDate() + days);
        document.cookie = "notShowPop=" + "true" + ";path=/; expires=" + expireDate.toGMTString();  // 체크하면 notShowPop 쿠키 값을 true로 설정하여 재접속 시 팝업창을 나타내지 않음
        window.close();

      }

    }

  </script>

</body>

</html>